body {
    font-family: Candara, sans-serif; /* This is a simple, clean font */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif; /* This is a more decorative font for headings */
}

nav {
    font-family: Candara, Courier, monospace; /* This is a monospace font */
    font-weight: bold; /* This makes the text bold */
}

.navbar-brand {
    font-weight: bold;   /* This makes the text bold */
    font-size: 1.5em;  /* This makes the text larger */
    color: #FFFFFF;  /* Set navbar brand text color to white */
}

.navbar {
    background-color: #87CEFA;  /* This is a light sky blue color */
}

.nav-link {
    color: #FFFFFF;  /* Set navigation link text color to white */
}


/* Change the color of links */
a {
    color: #FF6347; /* This is a tomato color */
}


.btn {
    background-color: #FFA07A !important; /* This is a light salmon color */
    color: #FFFFFF !important; /* This is white color for the text on the button */
}

    /* Change the color of buttons when hovered over */
    .btn:hover {
        background-color: #FF6347 !important; /* This is a tomato color */
    }

/* Add padding to the button */
.btn {
    padding: 10px 20px; /* This adds 10px of padding to the top and bottom, and 20px of padding to the left and right */
    margin-top: 10px; /* This adds 10px of space above the button */
}



.tag-input {
    display: flex;
    flex-direction: column; /* Adjust to stack elements vertically */
    align-items: flex-start; /* Align elements to the left */
}

.picker-wrapper {
    display: flex;
    align-items: center;
    border-radius: 20px; /* Rounded rectangle */
    background-color: #ccc; /* Background color for picker and button */
    padding: 5px; /* Padding between picker and button */
    justify-content: space-between; /* Distribute elements evenly */
}

    .picker-wrapper select,
    button {
        border: none;
        background: none;
        padding: 3px 8px;
        border-radius: 20px; /* Rounded rectangle */
        color: #FFD700; /* Text color */
    }

.selected-genres {
    display: flex;
    flex-wrap: wrap; /* Allow genres to wrap onto new lines */
    max-height: 50px; /* Set a max-height for the container */
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #FFA07A; /* Button color */
    color: white;
    padding: 3px 8px;
    margin: 3px;
    border-radius: 20px; /* Rounded rectangle */
    cursor: pointer;
}

    .tag:hover {
        background-color: #FF6347; /* Button hover color */
    }

.picker-wrapper select,
button {
    border: none;
    background: none;
    padding: 3px 8px;
    border-radius: 20px; /* Rounded rectangle */
    color: #FF6347; /* Text color for picker and button */
}
