@{
    ViewData["Title"] = "MainPageView";
}

<h1>@ViewData["MoviePicker"]</h1>

<p>
    <a class="btn btn-primary" href="/MainPageController/Action1">Button 1</a>
    <a class="btn btn-primary" href="/MainPageController/Action2">Button 2</a>
    <a class="btn btn-primary" href="/MainPageController/Action3">Button 3</a>
</p>

